/** @format */

body {
  box-sizing: border-box;
  background-color: #fdfbf9;
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

*,
::before,
::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 1rem;
  font-style: italic;
}

header {
  background-color: #59252e;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  height: 80px;
  line-height: 80px;
}

main {
  margin: 15px 50px;
}

nav {
  background-color: #873947;
  color: white;
  margin-top: 0;

  line-height: 60px;
  height: 60px;
}

nav > ul {
  list-style: none;
  justify-content: space-between;
  display: grid;
  gap: 15px;
  margin: 0;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 0;
}

nav > ul > li {
  text-align: center;
  font-size: 1.2rem;
}

nav > ul > li > a {
  text-decoration: none;
  color: #fffaf7;
}

nav > ul > li > a:hover,
a:focus {
  color: #a7cbd9;
  border-bottom: #a7cbd9 3px solid;
}

nav > ul > li > a:active {
  color: #a7cbd9;
  border-bottom: #a7cbd9 3px solid;
}

nav a[aria-current="page"] {
  color: #a7cbd9;
  border-bottom: #a7cbd9 1px solid;
}
aside {
  padding-left: 2.5rem;
  background-color: #809ba6;
  margin-bottom: 0;
  padding-bottom: 0;
  float: right;
}
aside > h2 {
  color: #000000;
}

aside > ul {
  list-style: none;
}

aside > ul > li {
  font-size: 1.25rem;
  margin-left: -1.5rem;
  padding-top: 10px;
}

aside > ul > li > a {
  color: #000000;
  text-decoration: none;
}
aside > ul > li > a:hover {
  color: #59252e;
  border-bottom: solid #59252e 3px;
}
aside > ul > li > a:visited {
  color: #59252e;
}

section {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

footer {
  color: #fffaf7;
  background-color: #59252e;
  width: 100%;
  line-height: 100px;
  height: 100px;
}

///////////////INDEX PAGE/////////////////
table {
  width: 90%;
  margin: 2.5rem;
  border: 3px solid black;
  border-collapse: collapse;
  border-spacing: 0;
}
.table2 {
  width: 90%;
}
th.red {
  background-color: #324a55;
  color: white;
  font-style: italic;
}
.light {
  color: black;
  background-color: #96c9dd;
}

th {
  border: 2px solid black;
}

td {
  text-align: center;
}

caption {
  caption-side: bottom;
}
dt {
  font-size: 1.1rem;
}
